include README.md LICENSE
recursive-include giva/conf *.json
recursive-include giva/sql *.sql
recursive-include giva/genie *.md
recursive-include giva/dashboards *.json
recursive-include giva/jobs *.json
recursive-include giva/data *.parquet *.gz
recursive-include giva/notebooks *.py
recursive-include giva/app *.yaml *.txt *.json *.py
recursive-include giva/app/backend/static *
